name: Check out tag/commit
run-name: Release a new version ${{ github.event.release.tag_name }}

on:
  release:
    types: [ created ]

jobs:
  build-and-push:
    name: Build and push Docker images
    runs-on: ubuntu-latest
    steps:
      - name: print github release vars
        env: 
          GITHUB_RELEASE_OBJ: ${{ toJson(github.event.release) }}
        run: echo "$GITHUB_RELEASE_OBJ"
    
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name || github.event.release.target_commitish }}
          fetch-depth: 0
  helm-deploy:
    name: Helm chart Integration Tests
    uses: camunda/camunda-platform-helm/.github/workflows/test-integration-template.yaml@main
    secrets: inherit
    with:
      identifier: connectors-int-${{ github.run_id }}
      test-enabled: true
      extra-values: |
        connectors:
          image:
            tag: ${{ github.event.release.tag_name }}
